.Rbuildignore
.deploy-wordpress-localhost.Rproj
.Rproj.user
.Rhistory
.RData
.DS_Store
.vscode
mysql/*
!mysql/.keep
logs/nginx/*
!logs/nginx/.keep
_trash
*.Rproj
wordpress/*
uni-t.ua
*.sql
wordpress_unit